.searchResultsWrapper {
    margin-top: 1rem;
}

h2 {
    text-align: center;
    background: linear-gradient(90deg,#03384A, #835561);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
