main {
    background-color: blue;
}

.logo {
    width: 8%;
    transform: rotate(-25deg);
    padding: 20px 10px;
}

.accessButton {
    position: absolute;
    top: 45%;
    left: 38%;
    width: 7em;
    border-radius: 25px;
    padding: 10px 10px;
}

.landingImg {
    width: 45%;
    position: absolute;
    right: 0;
    bottom: 0;
}
